*blx.bib
*.bbl
*.blg
*_latexmk
*.fls
*~
*.run.xml
*.zip
*_flymake.*
*-copy.*
/assignment-11-copy-rewised.aux
/assignment-11-copy-rewised.dvi
/assignment-11-copy-rewised.log
/assignment-11-copy-rewised.tex
/assignment-11-copy-rewised.toc
/assignment-13-copy-fraktur.aux
/assignment-13-copy-fraktur.dvi
/assignment-13-copy-fraktur.log
/assignment-13-copy-fraktur.pdf
/assignment-13-copy-fraktur.tex
/assignment-13-copy-fraktur.toc
