*blx.bib
*.bbl
*.blg
*_latexmk
*.fls
*~
*.run.xml
*.zip
*_flymake.*
*-copy.*
/assignment-11-copy-rewised.aux
/assignment-11-copy-rewised.dvi
/assignment-11-copy-rewised.log
/assignment-11-copy-rewised.tex
/assignment-11-copy-rewised.toc
